# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.booproj
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]uild/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
BuildPlayer.prefs
expandedItems
FailedAssetImports.txt
guidmapper
Assets/UnityVS
Assets/UnityVS.meta